.topics {
  background: var(--gradient-blue);
  text-align: center;
  padding: 1em 0;
}

.topics__title {
  color: var(--background-header-color);
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 1em;
}

.topics__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.topics__item {
  margin: 2em 0.5em;
  list-style-type: none;
}

.topics__link {
  color: var(--background-header-color);
  text-decoration: none;
  padding: 1em;
  background-color: var(--orange-color);
  font-size: 14px;
  font-weight: 700;
}

@media screen and (min-width: 1024px) {
  .topics__title {
    font-size: 24px;
  }

  .topics__link {
    font-size: 24px;
  }
}
@media screen and (min-width: 1728px) {
  .topics {
    padding: 3em 30vw;
  }
}